.text{
    text-align: center;
    font-size: 30px;
}
.colum{
    display:flex;
    flex-direction: row;
    justify-content: center;
    padding: 50px;
}
.colum section{
    padding: 50px;
    text-align: center;

}
.colum img{
    transition: all .5s ease-in-out;
}

.colum section img:hover{
    width: 400px;
    height: 450px;
}


a{
    text-decoration: none;
    color: black;
}